* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h1,
  h2 {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #cecccc;
    background: #000000 url("./home.png") 0 0/100% no-repeat;
  }
  
  input {
    cursor: pointer;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    align-content: stretch;
    align-items: stretch;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* HEADER ===================================================================*/
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
  }
  .header__title {
    font-size: 2rem;
  }
  .header__sub-title {
    font-size: 1.5rem;
  }
  
  /*===========================================================================*/
  /* MAIN ===================================================================*/
  .main__ancients {
    flex: 0 0 450px;
    flex-wrap: wrap;
  }
  .main__ancient-card {
    flex: 0 0 200px;
    height: 260px;
    margin: 10px;
    cursor: pointer;
  }
  .main__ancient-card.active {
    border: 2px solid gold;
  }
  .main__ancient-card#azathoth {
    background: url("./assets/Ancients/Azathoth.png") 0 0/100% no-repeat;
  }
  .main__ancient-card#cthulhu {
    background: url("./assets/Ancients/Cthulthu.png") 0 0/100% no-repeat;
  }
  .main__ancient-card#iogSothoth {
    background: url("./assets/Ancients/IogSothoth.png") 0 0/100% no-repeat;
  }
  .main__ancient-card#shubNiggurath {
    background: url("./assets/Ancients/ShubNiggurath.png") 0 0/100% no-repeat;
  }
  .main__difficulty {
    flex-direction: column;
    flex: 0 0 515px;
    padding: 0 120px;
  }
  .main__difficulty-title {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  .main__difficulty-buttons {
    flex-wrap: wrap;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
  }
  .main__difficulty-button {
    flex-wrap: wrap;
    margin: 5rem 5rem 5rem 5rem;
    font-size: 1.2rem;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
}
  .restart {
    padding: 18px 36px;
    background: #6bade6;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
}
  .restart:hover {
    transform: scale(1.1);
  }
  .main__game-field {
    flex: 0 0 450px;
  }
  
  .game-field {
    flex-direction: column;
    align-self: flex-start;
    padding: 30px 0 0 0;
  }
  .game-field__stages-subtitle {
    margin: 0 0 5px 0;
    font-size: 1rem;
  }
  .game-field__stage {
    margin: 0 0 15px 0;
  }
  .game-field__circle {
    display: inline-flex;
    position: inherit;
    width: 37px;
    height: 35px;
    border-radius: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
  }
  .game-field__circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
  }
  .game-field__circle_green_1 {
    background-color: green;
  }
  .game-field__circle_green_2 {
    background-color: green;
  }
  .game-field__circle_green_3 {
    background-color: green;
  }
  .game-field__circle_brown_1 {
    background-color: brown;
  }
  .game-field__circle_brown_2 {
    background-color: brown;
  }
  .game-field__circle_brown_3 {
    background-color: brown;
  }
  .game-field__circle_blue_1 {
    background-color: blue;
  }
  .game-field__circle_blue_2 {
    background-color: blue;
  }
  .game-field__circle_blue_3 {
    background-color: blue;
  }
  .game-field__cards {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .game-field__stack {
    flex: 0 0 100px;
    height: 148px;
    background-image: url("./assets/mythicCardBackground.png");
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .game-field__active-card {
    flex: 0 0 100px;
    height: 148px;
    background-image: url("./assets/mythicTableBackground.png");
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  /*===========================================================================*/
  /* HEADER ===================================================================*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 70px;
  }
  .footer__rss {
    display: inline-block;
    width: 100px;
    height: 35px;
    padding: 5px;
    background: #ffffff url("./assets/images/icons/rs_school_js.svg") 50% 50%/90% no-repeat;
    border-radius: 3px;
    transition: 0.3s;
    transform: scale(1);
  }
  .footer__rss:hover {
    transform: scale(1.1);
  }
  .footer__my-git {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("./assets/images/icons/github.svg") 0 0 no-repeat;
    transition: 0.3s;
    transform: scale(1);
  }
  .footer__my-git:hover {
    transform: scale(1.2);
  }
  